<form class="flex justify-center items-center" id="search-form" onsubmit="return submitForm()">
    <div id="search-bar-container" class="search-bar-container transition-all duration-300 ease-in-out">
        <!-- <div id="category-dropdown" class="flex justify-center items-center">
            <select id="styled-dropdown-select" class="dark:bg-grey-700 bg-white text-black">
                <option value="">Default</option>
                {% for search_command in search_commands %}
                    <option value="{{ search_command['prefix'] }}">{{ search_command['text'] }}</option>
                {% endfor %}
            </select>
        </div> -->
        <div id="category-search-bar" class="flex items-center border border-gray-700 rounded-full shadow-lg w-full max-w-lg md:max-w-xl lg:max-w-2xl mx-auto">
            <div class="relative flex-grow">
                {% if search_index %}
                    <input type="text" id="search-bar" name="q" placeholder="Search..." value="{{ search_index.query.original }}" class="pl-4 pr-10 py-2 w-full text-black placeholder-gray-500 rounded-full focus:outline-none">
                {% else %}
                    <input type="text" id="search-bar" name="q" placeholder="Search..." class="pl-4 pr-10 py-2 w-full text-black placeholder-gray-500 rounded-full focus:outline-none">
                {% endif %}
                <button type="submit" class="absolute inset-y-0 right-0 pr-3 flex items-center">
                    <svg class="h-5 w-5 text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-4.35-4.35m1.35-5.65a7 7 0 11-14 0 7 7 0 0114 0z" />
                    </svg>
                </button>
            </div>
        </div>
    </div>
</form>
<div id="shortcut-section" class="flex justify-center items-center">
    <!-- Shortcut Links will be dynamically added here -->
</div>
<script>
    function submitForm() {
        var query = document.getElementById("search-bar").value;
        var category = document.getElementById("styled-dropdown-select").value;
        if (query.trim() !== "") {
            if (category !== "") {
                query = category + " " + query;
            }
            window.location.href = "/internal/search?q=" + encodeURIComponent(query);
        }
        return false;
    }
</script>