<header class="dark:bg-black bg-yellow-800 dark:text-white text-black fixed w-full z-50 top-0 border border-gray-700">
    <div class="flex items-center p-4">
        <div class="cursor-pointer text-2xl text-white" id="hamburger-menu">
            &#9776; <!-- Hamburger icon -->
        </div>
        <div class="text-xl flex text-white pl-4" id="page-title" data-title="{{ page_title }}">{{ page_title }}</div>
    </div>
    <nav class="fixed top-0 left-0 h-full w-64 dark:bg-black bg-yellow-800 dark:text-white text-black transform -translate-x-full transition-transform duration-300 z-40 border border-gray-700" id="sidebar">
        <ul id="sidebar-links" data-links='{{ sidebar_links | tojson | safe }}' class="list-none p-4">
            <div class="text-black !text-black dark:text-white">
                {% for link in sidebar_links %}
                <a href="{{ link.href }}" class="no-underline text-black !text-black dark:text-white" data-tab="{{ link.data_tab }}">{{ link.text }}</a>
                {% endfor %}
            </div>
        </ul>

        <!-- Dropdown for Search Commands -->
        <div class="absolute bottom-10 left-4 right-4">
            <select id="sidebar-dropdown-select" class="w-full p-2 rounded dark:bg-black bg-white dark:text-white text-black border border-gray-700">
                {% for search_command in search_commands %}
                    {% if search_command['id'] == user_default_search_id %}
                        <option value="{{ search_command['id'] }}">{{ search_command['text'] }}</option>
                    {% endif %}
                {% endfor %}
                {% for search_command in search_commands %}
                    {% if search_command['id'] != user_default_search_id %}
                        <option value="{{ search_command['id'] }}">{{ search_command['text'] }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
    </nav>
    <div class="fixed top-0 left-0 w-full h-full bg-black opacity-50 hidden z-30" id="overlay"></div>
    <script src="{{ url_for('static', filename='scripts/hamburger_script.js') }}" defer></script>
    <script>
        function getCookie(name) {
            let value = `; ${document.cookie}`;
            let parts = value.split(`; ${name}=`);
            if (parts.length === 2) return parts.pop().split(';').shift();
        }
    
        document.getElementById('theme-dropdown-select').addEventListener('change', function() {
            var selectedTheme = this.value;
            if (selectedTheme) {
                // Update the stylesheet immediately
                document.getElementById('theme-stylesheet').href = '/static/styles/' + selectedTheme + '/color.css';

                // Retrieve the JWT token from the cookie
                var jwtToken = getCookie('{{ cookie_name }}'); // Use the variable passed from Flask
    
                fetch('/apiv1/data/user/change_theme', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        theme: selectedTheme,
                        jwt_token: jwtToken // Include the JWT token in the POST data body
                    })
                })
                .then(response => response.json())
                .then(data => {
                    console.log('Theme change success:', data);
                    // Optionally handle the response here
                })
                .catch((error) => {
                    console.error('Error changing theme:', error);
                });
            }
        });

        document.getElementById('sidebar-dropdown-select').addEventListener('change', function() {
            var selectedId = this.value;
            if (selectedId) {
                // Retrieve the JWT token from the cookie
                var jwtToken = getCookie('{{ cookie_name }}'); // Use the variable passed from Flask
    
                fetch('/apiv1/data/user/change_default_search', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        search_id: selectedId,
                        jwt_token: jwtToken // Include the JWT token in the POST data body
                    })
                })
                .then(response => response.json())
                .then(data => {
                    console.log('Default search change success:', data);
                    // Optionally handle the response here
                })
                .catch((error) => {
                    console.error('Error changing default search:', error);
                });
            }
        });
    </script>
</header>