<div>
    <p class="pb-4 dark:text-white text-black text-xl mt-4">Last 25 logs for the household:</p>
    <ul>
        {% for last_request in last_25_requests %}
            <div class="border border-gray-600 p-2 mb-2 rounded">
                <li class="pb-2 dark:text-white text-black text-lg">{{ last_request.request_reason_created }}</li>
                <li class="pb-2 dark:text-gray-400 text-gray-700 text-xs">{{ last_request.request_created_at }}</li>
            </div>
        {% endfor %}
    </ul>
</div>