<div class="border border-gray-600 p-2 mb-2 rounded">
    <li class="pb-2 dark:text-white text-black text-lg">{{ request.request_reason_created }}</li>
    <li class="pb-2 dark:text-gray-400 text-gray-700 text-xs">Created: {{ request.request_created_at }}</li>
    <li class="pb-2 dark:text-red-500 text-red-500 text-xs">Status: Cancelled</li>
    <li class="pb-2 dark:text-gray-400 text-gray-700 text-xs">Requested by: {{ request.created_by_name() }}</li>
    <li class="pb-2 dark:text-gray-400 text-gray-700 text-xs">Cancelled by: {{ request.cancelled_by_name() }}</li>
    <li class="pb-2 dark:text-gray-400 text-gray-700 text-xs">Cancelled: {{ request.request_cancelled_at }}</li>
</div>