{% if status == 'Daily Limit Reached' %}
    <button id="requestButton-{{ available_request.id }}" class="border border-gray-600 pl-2 pr-2 m-2 rounded pb-2 dark:text-white text-black text-lg w-40 text-left"">
        <div>
            {{ available_request.request_name|capitalize }}
        </div>
        <li class="dark:text-gray-400 text-gray-700 text-xs">Points: {{ available_request.points_requested }}</li>
        <li class="dark:text-gray-400 text-gray-700 text-xs">Daily limit: {{ available_request.daily_limit }}</li>
        <li class="dark:text-red-400 text-red-700 text-xs">Status: Daily Limit</li>
    </button>
{% elif status == 'Request Created' %}
    <button id="requestButton-{{ available_request.id }}" class="border border-gray-600 pl-2 pr-2 m-2 rounded pb-2 dark:text-white text-black text-lg w-40 text-left"">
        <div>
            {{ available_request.request_name|capitalize }}
        </div>
        <li class="dark:text-gray-400 text-gray-700 text-xs">Points: {{ available_request.points_requested }}</li>
        <li class="dark:text-gray-400 text-gray-700 text-xs">Daily limit: {{ available_request.daily_limit }}</li>
        <li class="dark:text-green-400 text-green-700 text-xs">Status: Request Sent.</li>
    </button>
{% endif %}