<div x-data="{ dollarAmount: parseFloat('{{ current_user.get_dollar_amount() }}').toFixed(2) }">
    {% if current_user.get_dollar_amount() < 0 %}
        <p class="flex justify-center py-4">You have &nbsp;<span class="text-red-500" x-text="'$' + dollarAmount"></span>&nbsp;worth of points.</p>
    {% elif current_user.get_dollar_amount() > 4.99 %}
        <p class="flex justify-center py-4">You have&nbsp;<span class="text-green-500" x-text="'$' + dollarAmount"></span>&nbsp;worth of points.</p>
    {% else %}
        <p class="flex justify-center py-4">You have&nbsp;<span x-text="'$' + dollarAmount"></span>&nbsp;worth of points.</p>
    {% endif %}
</div>
<div>
    {{ render_partial('internal/chores/partials/user_request_create.html', available_requests=available_requests) }}
</div>
{{ render_partial('internal/chores/partials/latest_request_logs.html', last_25_requests=last_25_requests) }}