<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>SpicerHome Search</title>
  <!-- <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"> -->
  <!-- <link rel="stylesheet" href="{{ url_for('static', filename='styles/pagination_styles.css') }}"> -->
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/modern_table.css') }}">
  <!-- <link rel="stylesheet" href="{{ url_for('static', filename='styles/dropdown_styles.css') }}"> -->
  <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">

  <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon.png') }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <script src="https://unpkg.com/htmx.org@1.9.9"></script>
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://unpkg.com/alpinejs" defer></script>
</head>

{% include 'internal/elements/Holiday/Christmas/snowfall.html' %}
<!-- {% include 'internal/elements/Holiday/New_Years/fireworks.html' %} -->

<body class="dark:bg-black bg-yellow-100 dark:text-white text-black flex flex-col min-h-screen justify-between">
  {% include 'internal/elements/header.html' %}
  <div class="mt-16" id="content">
    {% block content %}
    {% endblock %}
  </div>

  <!-- {% include "_partials/toasts.html" %} -->
  <div id="footer">
    {% include 'internal/elements/footer.html' %}
  </div>

</body>
{% block script %}
{% endblock script %}
</html>
