{% extends "internal/base.html" %}
{% block content %}
    <div class="text-7xl md:text-9xl pt-4">
        {% include 'internal/elements/logo.html' %}
    </div>
    {% if current_user.is_household_admin() %}
        {{ render_partial("internal/chores/partials/view_points_admin.html", chore_users=chore_users, last_25_requests=last_25_requests, open_requests=open_requests, available_requests=available_requests) }}
    {% else %}
        {{ render_partial("internal/chores/partials/view_points_user.html", user_points=user_points, last_25_requests=last_25_requests, available_requests=available_requests) }}
    {% endif %}
{% endblock %}