{% from "internal/elements/webpage-elements/border-grey-600-container.html" import roundedborder %}

<div id="history-info" class="w-max-full">
    <p class="pb-4 dark:text-white text-black text-xl mt-4">User History:</p>

    {% set grouped_history = {} %}
    {% for user_id, user_requests in history_requests.items() %}
        {% for request_id, request_info in user_requests.items() %}
            {% set date = request_info.date_and_time.strftime('%Y-%m-%d') %}
            {% set _ = grouped_history.setdefault(date, []).append(request_info) %}
        {% endfor %}
    {% endfor %}

    {% for date, requests in grouped_history.items() %}
        <h2 class="pb-2 dark:text-white text-black text-lg mt-6">{{ date }}</h2>
        <ul>
            {% for request_info in requests %}
                {% call roundedborder() %}
                <li class="pb-2 dark:text-white text-black text-lg break-words w-full" 
                    style="overflow-wrap: break-word; word-break: break-word; white-space: normal; overflow: hidden; text-overflow: ellipsis;">
                    {{ request_info.original_request }}
                </li>
                <li class="dark:text-gray-400 text-gray-700 text-xs">
                    <strong>ID:</strong> {{ request_info.request_id }}
                </li>
                <li class="dark:text-gray-400 text-gray-700 text-xs">
                    <strong>Time Logged:</strong> {{ request_info.date_and_time.strftime('%H:%M:%S') }}
                </li>
                <li class="dark:text-white text-gray-700 text-xs break-words w-full" 
                    style="overflow-wrap: break-word;">
                    <a href="{{ request_info.query_url }}" class="text-xs break-words w-full" 
                       style="overflow-wrap: break-word; word-break: break-word; white-space: normal; overflow: hidden; text-overflow: ellipsis; max-width: 25vw;">
                        {{ request_info.query_url }}
                    </a>
                </li>
                {% endcall %}
            {% endfor %}
        </ul>
    {% endfor %}
</div>
