{% if users %}
    {% for user in users %}
        <div class="flex items-center mb-2">
            <label for="user-{{ user.id }}" class="text-2xl cursor-pointer p-2 border rounded border-grey-600" onclick="toggleHighlight(this)">{{ user.get_user_name() }}
                <p class="text-sm text-grey-700">{{ user.get_user_uid() }}</p>
            </label>
        </div>

        <script>
            function toggleHighlight(element) {
                element.classList.toggle('bg-red-600');
            }
        </script>
    {% endfor %}
{% else %}
    <div class="text-lg p-4">No users in household. Add users below.</div>
{% endif %}