.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    /* background-color: #3C2A21; */
    /* color: #D5CEA3; */
}

header {
    display: flex;
    align-items: center;
    padding: 10px;
    top: 0;
    width: 100%;
    /* background-color: #3C2A21; */
    /* color: #D5CEA3; */
    position: fixed;
    z-index: 2;
}

.hamburger-menu {
    cursor: pointer;
    font-size: 1.5rem;
    margin-right: 1rem;
}

.page-title {
    font-size: 1.5rem;
    text-align: center;
}

.sidebar {
    /* border: 1px solid #1A120B; */
    border-radius: 5px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    /* background-color: #3C2A21; */
    /* color: #D5CEA3; */
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    padding-top: 2rem;
    z-index: 1000;
}

.sidebar.open {
    transform: translateX(0);
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 1rem;
}

.sidebar ul li a {
    /* color: #D5CEA3; */
    text-decoration: none;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: #00000075; */
    display: none;
    z-index: 999;
    transition: opacity 0.3s ease;
}

.overlay.show {
    display: block;
}

/* Sidebar dropdown positioned at the bottom */
.sidebar-dropdown {
    position: absolute;
    bottom: 40px;
    left: 20px;
    right: 20px;
}

#sidebar-dropdown-select {
    width: 100%;
    padding: 0.5rem;
    border-radius: 5px;
    /* border: 1px solid #1A120B; */
    /* background-color: #3C2A21; */
    /* color: #D5CEA3; */
}

.theme-dropdown {
    position: absolute;
    bottom: 80px;
    left: 20px;
    right: 20px;
}

#theme-dropdown-select {
    width: 100%;
    padding: 0.5rem;
    border-radius: 5px;
}