<header class="dark:bg-black bg-yellow-800 dark:text-white text-black fixed w-full z-50 top-0 border-b border-gray-700" style="height: 64px;">
    <div class="flex items-center justify-between p-4" id="header">
        <div class="flex items-center">
          <div class="cursor-pointer text-2xl text-white z-20" id="hamburger-menu">
            &#9776; <!-- Hamburger icon -->
          </div>
          <div class="text-4xl" id="header-logo">
            {% include 'internal/elements/logo.html' %}
          </div>
          <!-- <div class="text-xl text-white pl-4" id="page-title" data-title="{{ page_title }}">{{ page_title }}</div> -->
        </div>
        <div class="relative z-20">
          <div class="w-10 h-10 dark:bg-gray-800 bg-yellow-100 dark:text-white text-black flex items-center justify-center rounded-full cursor-pointer" id="user-icon">
            {% if current_user.name %}
                {{ current_user.name[0].upper() }}
            {% else %}
                {{ current_user.email[0].upper() }}
            {% endif %}
          </div>
          <div class="absolute right-0 mt-2 min-w-max bg-white rounded-md shadow-lg py-2 hidden" id="user-dropdown">
            <div class="px-4 text-gray-800">{{ current_user.name }}</div>
            <div class="px-4 text-gray-800 text-sm">{{ current_user.email.lower() }}</div>
            <div class="px-4 pb-2 text-gray-400 text-xs">{{ current_user.uid }}</div>
            {% if current_user.get_dollar_amount() %}
                <a href="{{ url_for("chores.view_points") }}" class="px-4 py-2 text-gray-800">Points: {{ current_user.get_dollar_amount() }}</a>
            {% endif %}
            <div class="border-t border-gray-200 my-2"></div>
            <a href="/settings" class="block px-4 py-2 text-gray-800 hover:bg-gray-200">Settings</a>
            <a href="/internal/search?q=logout" class="block px-4 py-2 text-gray-800 hover:bg-gray-200">Logout</a>
          </div>
        </div>
    </div>
    <div id="header-search-bar-container" class="hidden justify-center items-center transition-all duration-300 ease-in-out absolute inset-0 z-10">
        <!-- Search bar will be moved here on scroll -->
    </div>
    <nav class="fixed top-0 left-0 h-full w-64 dark:bg-black bg-yellow-800 dark:text-white text-black transform -translate-x-full transition-transform duration-300 z-40 border-r border-gray-700" id="sidebar">
        <ul id="sidebar-links" data-links='{{ sidebar_links | tojson | safe }}' class="list-none p-4">
            <div class="text-black !text-black dark:text-white">
                {% for link in sidebar_links %}
                <a href="{{ link.href }}" class="no-underline text-black !text-black dark:text-white" data-tab="{{ link.data_tab }}">{{ link.text }}</a>
                {% endfor %}
            </div>
        </ul>

        <!-- Dropdown for Search Commands -->
        <div class="absolute bottom-10 left-4 right-4">
            <select id="sidebar-dropdown-select" class="w-full p-2 rounded dark:bg-black bg-white dark:text-white text-black border border-gray-700">
                {% for search_command in search_commands %}
                    {% if search_command['id'] == user_default_search_id %}
                        <option value="{{ search_command['id'] }}">{{ search_command['text'] }}</option>
                    {% endif %}
                {% endfor %}
                {% for search_command in search_commands %}
                    {% if search_command['id'] != user_default_search_id %}
                        <option value="{{ search_command['id'] }}">{{ search_command['text'] }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
    </nav>
    <div class="fixed top-0 left-0 w-full h-full bg-black opacity-50 hidden z-30" id="overlay"></div>
    <script>
        document.getElementById('user-icon').addEventListener('click', function(event) {
            var dropdown = document.getElementById('user-dropdown');
            dropdown.classList.toggle('hidden');
            event.stopPropagation();
        });
        
        document.addEventListener('click', function(event) {
            var dropdown = document.getElementById('user-dropdown');
            if (!dropdown.classList.contains('hidden')) {
                dropdown.classList.add('hidden');
            }
        });
        
        document.getElementById('user-dropdown').addEventListener('click', function(event) {
            event.stopPropagation();
        });

        document.addEventListener('DOMContentLoaded', function () {
            const hamburgerMenu = document.getElementById('hamburger-menu');
            const sidebar = document.getElementById('sidebar');
            const overlay = document.getElementById('overlay');
        
            // Toggle sidebar and overlay visibility
            function toggleSidebar() {
                sidebar.classList.toggle('translate-x-0');
                sidebar.classList.toggle('-translate-x-full');
                overlay.classList.toggle('hidden');
            }
        
            // Close sidebar and overlay when overlay is clicked
            overlay.addEventListener('click', function () {
                toggleSidebar();
            });
        
            // Open sidebar when hamburger menu is clicked
            hamburgerMenu.addEventListener('click', function () {
                toggleSidebar();
            });
        
            // Update page title
            const pageTitleElement = document.getElementById('page-title');
            if (pageTitleElement && pageTitleElement.dataset.title) {
                document.title = pageTitleElement.dataset.title;
            }
        
            // Render sidebar links dynamically if they are provided
            const sidebarLinksElement = document.getElementById('sidebar-links');
            if (sidebarLinksElement && sidebarLinksElement.dataset.links) {
                const links = JSON.parse(sidebarLinksElement.dataset.links);
                sidebarLinksElement.innerHTML = links.map(link => 
                    `<li class="p-2"><a href="${link.href}" class="text-white no-underline" data-tab="${link.data_tab}">${link.text}</a></li>`
                ).join('');
            }
        });

        function getCookie(name) {
            let value = `; ${document.cookie}`;
            let parts = value.split(`; ${name}=`);
            if (parts.length === 2) return parts.pop().split(';').shift();
        }

        document.getElementById('sidebar-dropdown-select').addEventListener('change', function() {
            var selectedId = this.value;
            if (selectedId) {
                // Retrieve the JWT token from the cookie
                var jwtToken = getCookie('{{ cookie_name }}'); // Use the variable passed from Flask
    
                fetch('/apiv1/data/user/change_default_search', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        search_id: selectedId,
                        jwt_token: jwtToken // Include the JWT token in the POST data body
                    })
                })
                .then(response => response.json())
                .then(data => {
                    console.log('Default search change success:', data);
                    // Optionally handle the response here
                })
                .catch((error) => {
                    console.error('Error changing default search:', error);
                });
            }
        });

        document.addEventListener('DOMContentLoaded', function () {
            const searchBarContainer = document.getElementById('search-bar-container');
            const headerSearchBarContainer = document.getElementById('header-search-bar-container');
            const header = document.getElementById('header');
            const headerHeight = header.offsetHeight;
            const pageTitle = document.getElementById('page-title');
            const headerLogo = document.getElementById('header-logo');
        
            function updateHeader() {
                const headerWidth = header.offsetWidth;
                const searchBarWidth = searchBarContainer.offsetWidth;
                const logoWidth = headerLogo.offsetWidth;
        
                if (window.scrollY > headerHeight * 2) {
                    if (!headerSearchBarContainer.contains(searchBarContainer)) {
                        headerSearchBarContainer.appendChild(searchBarContainer);
                        headerSearchBarContainer.classList.remove('hidden');
                        headerSearchBarContainer.classList.add('flex');
                        pageTitle.classList.add('hidden');
        
                        if (headerWidth < searchBarWidth + logoWidth) {
                            headerLogo.classList.add('hidden'); // Hide the logo if not enough space
                        }
                    }
                } else {
                    if (!document.getElementById('search-form').contains(searchBarContainer)) {
                        document.getElementById('search-form').appendChild(searchBarContainer);
                        headerSearchBarContainer.classList.remove('flex');
                        headerSearchBarContainer.classList.add('hidden');
                        pageTitle.classList.remove('hidden');
                        headerLogo.classList.remove('hidden'); // Show the logo
                    }
                }
            }
        
            window.addEventListener('scroll', updateHeader);
            window.addEventListener('resize', updateHeader); // Update on resize to handle dynamic changes
        });
    </script>
</header>