<!-- <style>
    @font-face { font-family: bebel; src: url('https://www.1001fonts.com/download/font/bebel.black.otf'); } 
    logo {
        font-family: bebel;
        font-size: 5em;
        color: rgb(0, 0, 0);
        text-shadow: 3px 3px 0 #7a4785, -1px -1px 0 #7a4785, 1px -1px 0 #7a4785, -1px 1px 0 #7a4785, 1px 1px 0 #7a4785;
    }
</style> -->
<div class="flex justify-center">
    <style>
        @font-face { 
            font-family: bebel; 
            src: url('https://www.1001fonts.com/download/font/evgeny.bold-italic.ttf'); 
        }
    </style>
    <a href="/internal/search" class="font-bold italic z-1" style="font-family: bebel;">
        SpicerHome
    </a>
</div>
<!-- <a href="/internal/search">
    <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" id="logo">
</a> -->