<!-- <style>
    @font-face { font-family: bebel; src: url('https://www.1001fonts.com/download/font/bebel.black.otf'); } 
    logo {
        font-family: bebel;
        font-size: 5em;
        color: rgb(0, 0, 0);
        text-shadow: 3px 3px 0 #7a4785, -1px -1px 0 #7a4785, 1px -1px 0 #7a4785, -1px 1px 0 #7a4785, 1px 1px 0 #7a4785;
    }
</style> -->
<div class="flex justify-center">
    <style>
        @font-face { 
            font-family: bebel; 
            src: url('/static/styles/fonts/BebasNeue-Regular.ttf');            
        }

        /* Styling the entire word */
        .logo-text {
            font-family: bebel;
            font-weight: bold;
            font-style: italic;
            /* font-size: 4rem; Adjust the size as needed */
            display: flex;
            align-items: center;
        }

        /* Styling the first letter (S) */
        .logo-text span {
            display: inline-block;
            width: 0.8em; /* Set to the width of one character */
            height: 0.8em; /* Adjust the height to match the size of the font */
            margin-right: -0.14em; /* Optional: add space after the icon */
            margin-bottom: 0.135em; /* Optional: adjust the vertical alignment */
            background-image: url('/static/icon_rotated.png');
            background-size: contain;
            background-repeat: no-repeat;
        }

        /* Ensure the rest of the text aligns correctly */
        .logo-text span + span {
            margin-left: 0.4em; /* Adjust the space between the first letter and the rest */
        }
    </style>

    <!-- Applying the CSS to split the logo -->
    <a href="/internal/search" class="logo-text" id="logo-text">
        <span></span>picerHome
    </a>
</div>

<!-- src: url('/static/styles/fonts/evgeny.bold-italic.ttf'); -->
<!-- <a href="/internal/search">
    <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" id="logo">
</a> -->

<!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 92.19 100">
  <g transform="rotate(90, 46.095, 50)">
    <path d="M76.57 55.43l-36.23-36L22 1.2A14.48 14.48 0 0 0 16.2 0C7.37 0 .19 8.1 0 18.16v43.47a18.67 18.67 0 0 0 18.43 18.91H69.2a17.86 17.86 0 0 0 10-15.92 17.4 17.4 0 0 0-2.63-9.19z" fill="#e62c5a" opacity=".8"/>
    <path d="M73.76 19.46H23a17.86 17.86 0 0 0-10 15.92 17.46 17.46 0 0 0 2.61 9.2l36.23 36L70.23 98.8A14.52 14.52 0 0 0 76 100c8.82 0 16-8.09 16.19-18.15V38.36a18.67 18.67 0 0 0-18.43-18.9z" fill="#0fabf6" opacity=".8"/>
    <path d="M15.61 44.58l36.23 36H69.2a17.86 17.86 0 0 0 10-15.92 17.4 17.4 0 0 0-2.62-9.19l-36.23-36H23a17.86 17.86 0 0 0-10 15.91 17.46 17.46 0 0 0 2.61 9.2z" fill="#501b8d" opacity=".5"/>
  </g>
</svg>
 -->