{% extends "internal/base.html" %}
{% block content %}
<head>
    <title>SpicerHome History</title>
</head>
    <div class="text-7xl md:text-9xl py-4">
        {% include 'internal/elements/logo.html' %}
    </div>
    <div class="flex justify-center items-center p-4">
        {% if current_user.is_in_household() and not current_user.is_household_admin() %}
            <p>You are already in a household!</p>
        {% elif current_user.is_in_household() and current_user.is_household_admin() %}
            <p>Manage your household.</p>
        {% elif not current_user.is_in_household() %}
        <div id="household-response" class="mt-4">
            <p class="flex justify-center items-center pb-4">Create a new household!</p>
            <form id="create-household-form" method="POST" action="{{ url_for('household.create_household') }}" hx-post="{{ url_for('household.create_household') }}" hx-target="#household-response" hx-swap="innerHTML">
                <input type="text" name="household_name" required class="border text-black rounded p-2" placeholder="Household Name">
                <button type="submit" class="bg-blue-500 text-white rounded p-2">Create</button>
            </form>
        </div>
        {% endif %}
    </div>
    <div class="flex justify-center items-center p-4">
        <p>Manage your personal shortcuts.</p>
    </div>
    <div class="flex justify-center items-center p-4">
        <p>Below is the user info that is stored on the database. Currently if there is anything that is an issue please reach out to the site admin.</p>
    </div>
    <div class="p-4 z-1 dark:bg-black">
        <p>Name: {{ current_user.name }}</p>
        <p>Username: {{ current_user.username }}</p>
        <p>Email: {{ current_user.email }}</p>
        <p>Geography: {{ current_user.geo }}</p>
        <div class="border border-gray-200 p-2 rounded">
            <p>Default Search: {{ current_user.default_search_id }}</p>
            <select id="sidebar-dropdown-select" class="w-full p-2 rounded dark:bg-black bg-white dark:text-white text-black border border-gray-700">
                {% for search_command in current_user.json_user_search_commands() %}
                    {% if search_command['id'] == current_user.default_search_id %}
                        <option value="{{ search_command['id'] }}">{{ search_command['text'] }}</option>
                    {% endif %}
                {% endfor %}
                {% for search_command in current_user.json_user_search_commands() %}
                    {% if search_command['id'] != current_user.default_search_id %}
                        <option value="{{ search_command['id'] }}">{{ search_command['text'] }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <p>User ID: {{ current_user.uid }}</p>
        <p>User Created Date: {{ current_user.datetime_of_create_on_database }}</p>
    </div>

    <script>
        function getCookie(name) {
            let value = `; ${document.cookie}`;
            let parts = value.split(`; ${name}=`);
            if (parts.length === 2) return parts.pop().split(';').shift();
        }

        document.getElementById('sidebar-dropdown-select').addEventListener('change', function() {
            var selectedId = this.value;
            if (selectedId) {
                // Retrieve the JWT token from the cookie
                var jwtToken = getCookie('{{ cookie_name }}'); // Use the variable passed from Flask
    
                fetch('/apiv1/data/user/change_default_search', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        search_id: selectedId,
                        jwt_token: jwtToken // Include the JWT token in the POST data body
                    })
                })
                .then(response => response.json())
                .then(data => {
                    console.log('Default search change success:', data);
                    // Optionally handle the response here
                })
                .catch((error) => {
                    console.error('Error changing default search:', error);
                });
            }
        });
    </script>
{% endblock %}