{% extends "internal/base.html" %}
{% block content %}
<head>
    <title>SpicerHome History</title>
</head>
    <div class="text-7xl md:text-9xl py-4">
        {% include 'internal/elements/logo.html' %}
    </div>
    <div class="flex justify-center items-center p-4">
        {% if current_user.is_in_household() == "member" %}
            <p>You are already in a household!</p>
        {% elif current_user.is_in_household() == "admin" %}
            <p>Manage your household.</p>
        {% elif not current_user.is_in_household() %}
            <p>Create a new household!</p>
        {% endif %}
    </div>
    <div class="flex justify-center items-center p-4">
        <p>Below is the user info that is stored on the database. Currently if there is anything that is an issue please reach out to the site admin.</p>
    </div>
    <div class="p-4">
        <p>Name: {{ current_user.name }}</p>
        <p>Name: {{ current_user.username }}</p>
        <p>Email: {{ current_user.email }}</p>
        <p>User ID: {{ current_user.uid }}</p>
        <p>Default Search: {{ current_user.default_search_id }}</p>
        <p>Geography: {{ current_user.geo }}</p>
        <p>User Created Date: {{ current_user.datetime_of_create_on_database }}</p>
    </div>
{% endblock %}